#wpf-mention-list-wrap{
    display: none;
}

#wpf-mention-list-wrap #wpf-mention-list{
    position: absolute;
    z-index: 99998;
    width: 450px;
    max-width: 90%;
    max-height: min( 30vh, 175px );
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    background: #F5F5F5;
}

#wpf-mention-list-wrap .mce-fullscreen ~ #wpf-mention-list{
    position: fixed;
    z-index: 100011;
}

#wpf-mention-list-wrap #wpf-mention-list > li *{
    pointer-events: none;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row {
    padding: 5px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white;
    cursor: pointer;
}

[dir=rtl] #wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row{
    direction: rtl !important;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row:last-of-type{
    border-bottom: none;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row.wpfm-focus{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: #43A6DF;
    color: #FFFFFF;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row > * {
    margin: 0 3px;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row > .wpf-mention-list-avatar{
    margin: 0 8px;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row > .wpf-mention-list-avatar img{
    width: 30px;
    height: 30px;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row.wpfm-focus > .wpf-mention-list-dname{
    color: #FFFFFF !important;
}

.wpf-dark #wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row.wpfm-focus,
.wpf-dark #wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row.wpfm-focus .wpf-mention-list-dname{
    color: #E0E0E0;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row > .wpf-mention-list-isonline{
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0d9b7f;
    margin: 0 3px;
}

#wpf-mention-list-wrap #wpf-mention-list > li.wpf-mention-list-row > .wpf-mention-list-isonline.wpf-member-is-online {
    display: inline-block;
}

.mce-ico.mce-i-fa-solid.fa-at{
    font-weight: bold !important;
    line-height: 0.7 !important;
}

.mce-ico.mce-i-fa-solid.fa-at::before{
    content: "\40" !important;
}
